.jobSeekingMain {
  position: relative;
}
.seekingMain {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
  padding: 0.6rem;
  border-radius: 4px;
  background-color: white;
  left: 18%;
}
.listStyle {
  list-style: none;
}
.listStyle:hover {
  color: #7c44ff;
  border-left: 2px solid #7c44ff;
}
