.navigationMain {
    display: flex;
    
    width: 50%;
    justify-content: space-evenly;
    margin-left: 6.5%;
    margin-top: 1rem;
}
.NavigationPara{
    font-weight: 500;
}
.NavigationPara:hover{
    cursor: pointer ;
    border-bottom: 2px solid#7c44ff;
    transition: all 0.2s ease-in-out;
}