.trendingMainTrending {
   
    display: flex;
    width: 50%;
    margin-left: 27%;
    margin-top: 0.3rem;
}
.trendListTrending {
    width: 65%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.trendingHeadingTrending{
    font-weight: 600;
    color: black;
}
.trendListTrending:hover{
    cursor: pointer;
}
.trendListTrending > p{
    color: grey;
}
.trendHrLineTrending{
 margin-top: 0.6rem;
}
.trendingParaTag{
    margin: 0.4;
}
@media screen and (max-width:1024px) {
    .trendListTrending{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 
} 