.AllOfCard {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-evenly;
}
.marektingCard {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.personalDevelopement {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.hrPopularCourses {
  display: flex;
  margin: 2rem auto;
  justify-content: space-evenly;
}
.ManagerOfPopularCourses{
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}
