.imageSwiperStyleSwipe{
    width: 100%;
}
.swiperMainStyleSwipe{
    margin-top: 0.5rem;
}
.swiperMainStyleSwipe:hover{
    cursor: pointer;
}
@media (min-width: 768px) {
    .swiperMainStyleSwipe {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 992px) {
    .swiperMainStyleSwipe {
      max-width: 992px;
      
    }
  }
  
  @media (min-width: 1200px) {
    .swiperMainStyleSwipe {
      max-width: 100%;  
    }
  }